@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ff-primary: "Roboto Condensed", sans-serif;
  --fw-200: 200;
  --fw-400: 400;
  --fw-700: 700;
}
* {
  font-family: var(--ff-primary);
}

.grid {
  display: grid;
  grid-template-columns: clamp(60px, 50%, 10vw) auto;
}
@media (max-width: 600px) {
}

.active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: black;
}
.add-note input,
.add-note textarea,
.add-note input:focus,
.add-note textarea:focus {
  border: none;
  outline: none;
}
.add-note input {
  font-size: 2rem;
}
.add-note textarea {
  resize: none;
}
